@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@font-face {
  font-family: "Larsseit-Bold";
  src: url("/fonts/Larsseit/Larsseit-Bold.otf");
}

@font-face {
  font-family: "Larsseit-BoldItalic";
  src: url("/fonts/Larsseit/Larsseit-BoldItalic.otf");
}

@font-face {
  font-family: "Larsseit-ExtraBold";
  src: url("/fonts/Larsseit/Larsseit-ExtraBold.otf");
}

@font-face {
  font-family: "Larsseit-ExtraBoldItalic";
  src: url("/fonts/Larsseit/Larsseit-ExtraBoldItalic.otf");
}

@font-face {
  font-family: "Larsseit-Italic";
  src: url("/fonts/Larsseit/Larsseit-Italic.otf");
}

@font-face {
  font-family: "Larsseit-Light";
  src: url("/fonts/Larsseit/Larsseit-Light.otf");
}

@font-face {
  font-family: "Larsseit-LightItalic";
  src: url("/fonts/Larsseit/Larsseit-LightItalic.otf");
}

@font-face {
  font-family: "Larsseit-Medium";
  src: url("/fonts/Larsseit/Larsseit-Medium.otf");
}

@font-face {
  font-family: "Larsseit-MediumItalic";
  src: url("/fonts/Larsseit/Larsseit-MediumItalic.otf");
}

@font-face {
  font-family: "Larsseit-Thin";
  src: url("/fonts/Larsseit/Larsseit-Thin.otf");
}

@font-face {
  font-family: "Larsseit-ThinItalic";
  src: url("/fonts/Larsseit/Larsseit-ThinItalic.otf");
}

@font-face {
  font-family: "Larsseit";
  src: url("/fonts/Larsseit/Larsseit.otf");
}

.loading-animation {
  display: inline-block;
  height: 1em;
  position: relative;
  overflow: hidden;
  background-color: #dddbdd;
}
.loading-animation::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 2s infinite;
  content: "";
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto Mono";
  background-color: #fff4ec !important;
}

mark {
  color: "white";
  background-color: "#ef8354";
}
